<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Actors</title>
    <link rel="stylesheet" href="/home.css" />

    <body>

    <h1><%= @actors_id[0]["actor"] %></h1>

    <h2>Movies:</h2>

    <% @actors_id.each do |actor| %>
    <li><a href="/movies/<%= actor["movie_id"] %>"><%= actor["movie"] %></a> <%= actor["role"] %></li>
    <% end %>

    </body>

</html>
